<section class="page__share">
  <h4 class="page__share-title" style="color: #FFFFFF;">{{ site.data.ui-text[site.locale].share_on_label | default: "Share on" }}</h4>

  <a href="https://connect.qq.com/widget/shareqq/index.html?url={{ page.url | absolute_url | url_encode }}&title={{ page.title | url_encode }}" class="btn btn--qq" style="background-color: #1DA1F2; color: #FFFFFF;" onclick="window.open(this.href, 'window', 'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;" title="{{ site.data.ui-text[site.locale].share_on_label | default: 'Share on' }} QQ">
    <i class="fab fa-fw fa-qq" aria-hidden="true" style="color: #FFFFFF;"></i><span> QQ</span>
  </a>

  <a href="https://share.weixin.qq.com/cgi-bin/mmwebwx-bin/webwxcheckurl?url={{ page.url | absolute_url | url_encode }}" class="btn btn--wechat" style="background-color: #25D366; color: #FFFFFF;" onclick="window.open(this.href, 'window', 'left=20,top=20,width=500,height=500,toolbar=1,resizable=0'); return false;" title="{{ site.data.ui-text[site.locale].share_on_label | default: 'Share on' }} WeChat">
    <i class="fab fa-fw fa-weixin" aria-hidden="true" style="color: #FFFFFF;"></i><span> WeChat</span>
  </a>
</section>
